<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Read All</title>
</head>

<body>
    <main>
        <h1>TV Show {{show.id}}</h1>
        <p>Title: {{show.title}} </p>
        <p>Network: {{show.network}} </p>
        <p>Release Date: {{show.release_date}} </p>
        <p>Description: {{show.description}} </p>
        <p>Last updated at {{show.updated_at}}</p>
        <a href="/shows/{{show.id}}/edit">Edit</a> | <a href="/shows/{{show.id}}/delete">Delete</a>
    </main>
    <aside>
        <a href="/go_back">Go back</a>
    </aside>
</body>

</html>